
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;     /*serif, sans-serif, cursive, fantasy, monospace*/
    
}

a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: purple;
}
a:hover, a:focus {
     color: hsl(207, 44%, 49%, 0.5); 
     background-color: gold;
    /* opacity: 0.5; */
}

a:active {
    color: red;
}